DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_DATABASE=content_service_db
VOCABULARY_SERVICE_URL=http://localhost:5100/api/v1/words
GAMIFICATION_SERVICE_URL=http://localhost:5300
PRONUNCIATION_SERVICE_URL=http://127.0.0.1:3000/api/v1/pronunciation

PORT=5000
JWT_SECRET=change_this_secret