PORT=3000
JWT_SECRET=change_this_secret
FRONTEND_ORIGIN=http://localhost:5173
USER_SERVICE_URL=http://127.0.0.1:4000
CONTENT_SERVICE_URL=http://127.0.0.1:5000
VOCABULARY_SERVICE_URL=http://127.0.0.1:5100
PRONUNCIATION_SERVICE_URL=http://127.0.0.1:5200
GAMIFICATION_SERVICE_URL=http://127.0.0.1:5300
