# MySQL
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_DATABASE=user_service_db

# App
PORT=4000
JWT_SECRET=change_this_secret
JWT_EXPIRES_IN=1h

# Bcrypt
BCRYPT_SALT_ROUNDS=10
ADMIN_KEY=your_admin_key_here