DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_DATABASE=pronunciation_service_db
GAMIFICATION_SERVICE_URL=http://127.0.0.1:3000/api/v1/gamification

PORT=5200
JWT_SECRET=change_this_secret